body {
	background-color: black;
	font-family: monospace;
	font-size: 22;
}

h1 {
	color: white;
}

h3 {
	color: #ffff99;
}

p {
	color: white;
	font-size: 22;
	width: 640px;
}

p.data {
	font-size: 26;
}

select {
	font-weight: bold;
	font-size: 26;
	border-style: none;
	border-style: solid;
	border-color: #ffff99;
}

button {
	font-weight: bold;
	font-size: 18;
	border-style: dashed;
	border-color: black;	
	background-color: #ffff99;
	align-content: center;
}

table {
	font-weight: bold;
	font-size: 26;
	/*border-collapse: collapse;*/
	border-color: #ffff99;
}

table.spells {
	width: 640px;
	font-weight: bold;
	font-size: 26;
	/*border-collapse: collapse;*/
	border-color: #ffff99;
}

tr.header {
	background-color: #ffff99;;
	font-size: 18;
	align-content: center;
}

tr.data {
	background-color: white;
	font-size: 26;

}

td.head {
	align-content: cneter;
	font-size: 26;
}

input {
	font-weight: bold;
	font-size: 26;
	border-style: none;
	border-style: solid;
}