body {
	background-color: black;
	font-family: Loma, sans;
	font-size: 100%;
}

/*h1 {
	color: white;
}*/

h3 {
	color: #ffff99;
	font-size: 1.5em;
}

p {
	color: white;
	width: 640px;
	font-size: 1em;
}

.data {
	font-size: 1.5em;
}

select {
	font-weight: bold;
	font-size: 26;
	border-style: none;
	border-style: solid;
	border-color: #ffff99;
}

button {
	font-weight: bold;
	font-size: .8em;
	border-style: dashed;
	border-color: black;	
	background-color: #ffff99;
	align-content: center;
}

table {
	font-weight: bold;
	/*border-collapse: collapse;*/
	border-color: #ffff99;
}

table.spells {
	width: 640px;
	font-weight: bold;
	/*border-collapse: collapse;*/
	border-color: #ffff99;
}

tr.header {
	background-color: #ffff99;;
	font-size: 1em;
	align-content: center;
}

tr.data {
	background-color: white;
}

th.head {
	align-content: cneter;
	font-size: 1em;
}

input {
	font-weight: bold;
	font-size: 1.5em;
	border-style: none;
	border-style: solid;
}