/* works best with css reset (for stripping browser render customizations): <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
spellpoints

*/
@import url('https://fonts.googleapis.com/css?family=Aclonica|Convergence|El+Messiri|Spinnaker&display=swap');

html {
	background-color: black;
	/* font-family: Loma, sans; */
	font-family: 'Convergence', sans-serif;
	font-size: 100%;
}

body {
	padding: 0;
	margin: 0;
}

table {
	margin-top: 5px;
}

#caster {
	display: grid;
	height: 100%;
	width: 100%;
	margin: auto;
	grid-template-columns: auto 150px 240px 250px auto;
	grid-template-rows: 150px auto auto auto 300px auto;
	grid-template-areas: 
	". header header header ."
	". level school schoolImage ."
	". status status schoolImage ."
	". remainCalc remainCalc remainCalc ."
	". sp-sheet sp-sheet sp-sheet ."
	". links . . ."
	;
	grid-gap: 5px;
}

#sp-sheet {
	grid-area: sp-sheet;
}

#imageHeader {
	grid-area: header;
	width: 640px;
}

.info {
	background: #545448;
	border-style: solid;
	border-width: 1px;
	border-color: #ffff99;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
}

/* dropdowns */

#level {
	grid-area: level;
}

#school {
	grid-area: school;
}

#casterTitle {
	text-align: left;
	width: 300px;
	font-size: 1.2em;
	color: white;
}

#schoolImage {
	grid-area: schoolImage;
}

/* status */

#status {
	grid-area: status;
}



#statusTable {
	width: 375px;
}

#recovery {
	margin-top: 5px;
}

#addPoints {
	font-weight: bold;
	font-size: 1em;
	border-style: solid;
	border-color: black;
	margin-top: 1px;
	margin-bottom: 1px;
}

/* castings */

#remainCalc {
	grid-area: remainCalc;
}

/* formatting */

.warning {
	color: red;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	border-radius: 5px;
	background-color: black;
	font-size: 1em;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	width: 260px;
	padding: 5px;
}

h3 {
	color: #ffff99;
	font-size: 1.4em;
	margin-top: 0;
	margin-bottom: 0;
}

p {
	color: white;
	width: 640px;
	font-size: 1em;
	margin-top: 2px;
}

a {
	text-decoration: none;
	color: white;
}

select {
	font-weight: bold;
	font-size: 1.4em;
	border: none;
	background-color: white;
}

button {
	font-weight: bold;
	font-size: .9em;
	border-style: dashed;
	border-color: black;
	background-color: #ffff99;
	margin-top: 1px;
	margin-bottom: 1px;
}

button:hover {
	background-color: #a8a865;
}

/* tables */

table {
	font-weight: bold;
	/*border-collapse: collapse;*/
	border-style: solid;
	border-color: black;
	border-width: 1px;
	align-content: center;
}

table.spells {
	width: 620px;
	font-weight: bold;
	/*border-collapse: collapse;*/
}

tr.header {
	background-color: #ffff99;
	;
	font-size: .9em;
	align-content: center;
}

tr.data {
	background-color: white;
}

td.head {
	align-content: cneter;
	font-size: 1em;
	font-weight: bold;
}

#links {
	grid-area: links;
}

.data td {
	font-size: 1.3em;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}