/* works best with css reset (for stripping browser render customizations): <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
spellpoints

*/
@import url('https://fonts.googleapis.com/css?family=Aclonica|Convergence|El+Messiri|Spinnaker&display=swap');

html {
	background-color: black;
	/* font-family: Loma, sans; */
	font-family: 'Convergence', sans-serif;
	font-size: 100%;
}

body {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

table {
	margin-top: 5px;
}

#caster {
	display: grid;
	justify-content: center;
	height: 100%;
	/* width: 50%; */
	margin-left: auto;
	margin-right: auto;
	grid-template-columns: auto 150px 285px 285px auto;
	/* grid-template-columns: auto 1fr 1fr 1fr auto; */
	grid-template-rows: 180px auto auto auto 300px auto;
	grid-template-areas: 
	". header header header ."
	". level school schoolImage ."
	". status status schoolImage ."
	". remainCalc remainCalc remainCalc ."
	". sp-sheet sp-sheet sp-sheet ."
	". links links . ."
	;
	grid-gap: 5px;
}

#sp-sheet {
	grid-area: sp-sheet;
	width: 97%;
	/* grid-area: 5/2/6/5; */
}

#imageHeader {
	grid-area: header;
	justify-self: center;
	width: 100vw;
	background-image: url("../images/spellpoint_banner.jpg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.info {
	background: #545448;
	border-style: solid;
	border-width: 1px;
	border-color: #ffff99;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
}

/* dropdowns */

#level {
	grid-area: level;
}

#school {
	grid-area: school;
	display: grid;
	grid-auto-rows: min-content;
	height: fit-content;
	padding: 5px;

}

#school p {
	margin-bottom: 4px;
}

#casterTitle {
	text-align: left;
	/* width: 300px; */
	font-size: 1.2em;
	color: white;
}

#schoolImage {
	grid-area: schoolImage;
	justify-self: center;
}

/* status */

#status {
	grid-area: status;
}



#statusTable {
	width: 375px;
}

#recovery {
	margin-top: 5px;
}

#addPoints {
	font-weight: bold;
	font-size: 1em;
	border-style: solid;
	border-color: black;
	margin-top: 1px;
	margin-bottom: 1px;
}

/* castings */

#remainCalc {
	grid-area: remainCalc;

}

/* formatting */

.warning {
	color: red;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	border-radius: 5px;
	background-color: black;
	font-size: 1em;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	width: 260px;
	padding: 5px;
}

h2 {
	color: #ffff99;
	font-size: 1.4em;
	margin-bottom: 5px;
}

p {
	color: white;
	width: inherit;
	font-size: 1em;
	margin-top: 2px;
}

a {
	text-decoration: none;
	color: white;
}

select {
	font-weight: bold;
	font-size: 1.4em;
	border: none;
	background-color: white;
}

button {
	font-weight: bold;
	font-size: .9em;
	border-style: dashed;
	border-color: black;
	background-color: #ffff99;
	margin-top: 1px;
	margin-bottom: 1px;
	width: 100%;
}

button:hover {
	background-color: #a8a865;
}


.spells {
	display: grid;
	grid-row-gap: 5px;
	grid-template-columns: repeat(5, 1fr);
	font-weight: bold;
}

.head {
	background-color: #ffff99 ;
}

.spellLevel {
	padding: 2px;
	font-weight: bold;
	/*border-collapse: collapse;*/
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 3px;
	align-content: center;
	background-color: white;
}


.data {
	font-size: 1.3em;
	/* border-style: solid; */
	border-width: 1px;
	/* border-color: black; */
	text-align: center;
}


/* tables */

table {
	font-weight: bold;
	/*border-collapse: collapse;*/
	border-style: solid;
	border-color: black;
	border-width: 1px;
	align-content: center;
}

table.spells {
	width: 620px;
	font-weight: bold;
	/*border-collapse: collapse;*/
}

tr.header {
	background-color: #ffff99;
	;
	font-size: .9em;
	align-content: center;
}

tr.data {
	background-color: white;
}

td.head {
	align-content: cneter;
	font-size: 1em;
	font-weight: bold;
}

#links {
	grid-area: links;
}

@media (max-width: 1080px) {
	#caster {
		display: grid;
		justify-content: center;
		height: 100%;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		/* grid-template-columns: auto 50% 25% 25% auto; */
		grid-template-columns: repeat(5, minmax(115px, 1fr));
		grid-template-rows: 180px auto auto auto auto 300px auto;
		grid-template-areas: 
		". header header header ."
		". level school school ."
		". schoolImage schoolImage schoolImage ."
		". status status status ."
		". remainCalc remainCalc remainCalc ."
		". sp-sheet sp-sheet sp-sheet ."
		". links links . ."
		;
		grid-gap: 5px;

	}

	.spells {
		display: grid;
		width: auto;
		grid-row-gap: 5px;
		grid-template-columns: auto;
		font-weight: bold;
	}

	#sp-sheet {
		grid-area: sp-sheet;
		width: initial;
		/* grid-area: 5/2/6/5; */
	}

	#schoolImage {
		margin-bottom: -10px;
	}

	#casterLevel {
		width: 100%;
		font-size: initial;
	}

	#statusTable {
		width: max-content;
	}
}
