/* works best with css reset (for stripping browser render customizations): <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
spellpoints

*/

@import url('https://fonts.googleapis.com/css?family=Aclonica|Convergence|El+Messiri|Spinnaker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amarante|Cormorant|El+Messiri|Fondamento|IM+Fell+English|IM+Fell+English+SC|Ibarra+Real+Nova|Ovo|Philosopher|Rakkas|Uncial+Antiqua|Vollkorn+SC&display=swap');
html {
	background-color: black;
	/* font-family: Loma, sans; */
	font-family: 'Convergence', sans-serif;
	font-size: 100%;
}

body {
	overflow-x: hidden;
	overflow-y: auto;
}

h1 {
	font-size: 7em;
	color: white;
	font-weight: bold;
	font-family: 'Philosopher', sans-serif;
	text-align: center;
	vertical-align: 60%;
	text-shadow: 0px 0px 9px rgba(255, 0, 0, 0.5);
}

h2 {
	color: #ffff99;
	font-size: 2em;
	margin-bottom: 5px;
}

h3 {
	font-size: 1.5em;
	margin-bottom: 5px;
}

p {
	color: white;
	width: inherit;
	font-size: 16pt;
	margin: 5px 0px;
}

a {
	text-decoration: none;
	color: white;
}

select {
	display: block;
	font-size: 2em;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: minmax(content, 100%);
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
	border-radius: .2em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}

button {
	font-weight: bold;
	font-size: .7em;
	height: minmax(inherit, fit-content);
	padding: .4em;
	border-style: solid;
	border-radius: 2px;
	border-color: #979759;
	background: linear-gradient(180deg, rgba(255, 217, 122, 1) 0%, rgba(255, 255, 153, 1) 100%);
	margin-top: 1px;
	margin-bottom: 1px;
	width: 100%;
}

button:hover, #recovery:hover {
	background: linear-gradient(180deg, rgba(255, 0, 0, 0.383) 0%, rgba(204, 151, 82, 0.513) 100%);
	color: white;
}

#caster {
	display: grid;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	grid-template-columns: 10% repeat(3, 1fr) 10%;
	grid-template-rows: 180px auto auto auto auto auto auto;
	grid-template-areas: ". header header header ." ". summary summary summary ." ". profile profile schoolImage ." ". status status schoolImage ." ". remainCalc remainCalc remainCalc ." ". sp-sheet sp-sheet sp-sheet ." "links links links links links";
	grid-gap: 5px;
}

#summary {
	grid-area: summary;
	color: white;
	font-size: 1.8em;
	margin: 10px 0px;
}

details {
	font-size: 1em;
}

details p {
	border-left: 2px solid red;
	padding-left: 30px;
}

label {
	font-size: 2em;
}

.info {
	/* background: #545448; */
	/* background: #25251d; */
	background-image: url(../images/circle_black_bg.png);
	background-size: contain;
	border-style: none;
	border-width: 1px;
	border-color: #ffff99;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
	box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.5);
}

footer, footer>a {
	background: linear-gradient(to bottom, rgb(37, 37, 37) 1%, rgb(26, 23, 23) 60%, rgb(20, 3, 3) 100%);
	padding: 10px;
	margin-bottom: 0px;
	margin-top: 10px;
	color: rgb(119, 119, 119);
	text-align: center;
}

/* grid areas */

#imageHeader {
	grid-area: header;
	justify-self: center;
	align-content: center;
	width: 100vw;
	vertical-align: middle;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1.0) 100%), url("../images/magic_circles.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#profile {
	grid-area: profile;
	display: grid;
	grid-gap: 10px;
	grid-auto-columns: repeat(3, 33%);
	grid-template-areas: "level school casterType";
	place-content: stretch stretch;
}

#profile div {
	justify-self: center;
}

#sp-sheet {
	grid-area: sp-sheet;
	display: grid;
	grid-template-rows: max-content;
	grid-gap: 30px;
	justify-items: center;
}

/* dropdowns */

#level {
	grid-area: level;
	display: grid;
	place-content: start center;
}

#school {
	grid-area: school;
}

#school p {
	margin-bottom: 4px;
}

#casterType {
	grid-area: casterType;
	color: white;
	width: max-content;
}

#casterType li {
	margin: 20px 0px;
}

.radio {
	margin-left: 15px;
}

#casterTitle {
	text-align: left;
	font-size: 2em;
	color: white;
}

#schoolImage {
	grid-area: schoolImage;
	justify-self: center;
}

/* status */

#status {
	grid-area: status;
	display: grid;
	grid-auto-rows: repeat(3, auto);
	grid-gap: 5px;
}

#casterType-list {
	list-style: none;
}

#statusTable {
	width: 100% !important;
}

#ap-recovery {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 5px;
}

#addPoints {
	font-weight: bold;
	font-size: 2em;
	padding: 5px;
	border-radius: 2px;
	margin-bottom: 1px;
}

/* castings */

#remainCalc {
	display: grid;
	grid-area: remainCalc;
	grid-gap: 5px;
}

/* formatting */

.warning {
	color: red;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	border-radius: 5px;
	background-color: black;
	font-size: 1em;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	width: 260px;
	padding: 5px;
}

#recovery {
	font-weight: bold;
	font-size: 2em;
	height: 3em;
	padding: .5em;
	border-style: solid;
	border-color: #979759;
	background: linear-gradient(180deg, rgba(255, 217, 122, 1) 0%, rgba(255, 255, 153, 1) 100%);
	width: 100%;
}

.spells {
	display: grid;
	grid-row-gap: 5px;
	grid-template-columns: repeat(5, 1fr);
	font-weight: bold;
	grid-gap: 10px;
}

.head {
	height: 2em;
}

.spellLevel {
	padding: 2px;
	font-size: 3em;
	font-weight: bold;
	height: 4em;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 3px;
	align-content: center;
	background-color: white;
}

.data {
	font-size: 1.3em;
	border-width: 1px;
	text-align: center;
	padding: .1em 0em;
}

.citation {
	font-style: italic;
	font-size: .6em;
}

/* tables */

table {
	font-weight: bold;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	align-content: center;
}

table.spells {
	width: 620px;
	font-weight: bold;
}

tr.header {
	background: linear-gradient(180deg, rgba(255, 217, 122, 1) 0%, rgba(255, 255, 153, 1) 100%);
	;
	font-size: 2em;
	vertical-align: middle;
}

tr.data {
	background-color: white;
	font-size: 4em;
}

td.head {
	font-size: 1em;
	font-weight: bold;
}

#links {
	grid-area: links;
	font-size: 2em;
}

/* spell points reference table */

#sp-sheet table {
	color: white;
	font-size: 1.5em;
	width: 80%;
	justify-self: center;
}

#sp-sheet .header {
	background: linear-gradient(180deg, rgba(255, 217, 122, 1) 0%, rgba(255, 255, 153, 1) 100%);
	color: black;
	font-weight: bold;
	padding: 5px;
	margin-bottom: 5px;
}

#sp-levels tr:nth-child(even) {
	background: rgba(255, 255, 255, 0.219);
}

#sp-pool tr:nth-child(odd) {
	background: rgba(255, 255, 255, 0.219);
}

#sp-sheet td {
	padding: 10px 5px;
	border-style: none;
}

.one-casting-line {
	border-bottom-style: solid;
	border-bottom-color: white;
	border-bottom-width: 2px;
}

.one-casting {
	background-color: rgba(255, 0, 0, 0.219);
	text-align: center;
}

hr {
	border: 2px solid white;
	width: 80vw;
	margin-bottom: 15px;
}

/* @media (max-width: 1080px) { */
/* @media screen and (max-aspect-ratio: 9/16) {	 */
@media (max-width: 1200px), screen and (orientation: portrait) {
	#caster {
		display: grid;
		justify-content: center;
		height: 100%;
		/* width: minmax(720px, 100vw); */
		margin-left: auto;
		margin-right: auto;
		grid-template-columns: 2% repeat(3, minmax(1fr, 200px)) 2%;
		grid-template-rows: auto auto auto auto auto auto auto auto;
		grid-template-areas: ". header header header ." ". summary summary summary ." ". profile profile profile ." ". schoolImage schoolImage schoolImage ." ". status status status ." ". remainCalc remainCalc remainCalc ." ". sp-sheet sp-sheet sp-sheet ." "links links links links links";
		grid-gap: 5px;
	}
	.spells {
		display: grid;
		width: auto;
		grid-row-gap: 5px;
		grid-template-columns: auto auto;
		font-weight: bold;
		grid-gap: 5px;
	}
	#sp-sheet {
		grid-area: sp-sheet;
		width: 85vw;
	}
	#schoolImage {
		margin-bottom: -10px;
	}
	#casterLevel {
		width: 100%;
	}
	#statusTable {
		width: max-content;
	}

	#sp-sheet table {
		font-size: 3em;
	}

	button {
		font-size: .9em;
	}

	#sp-sheet {
		width: inherit;
	}
}

/* stylng radio and checkbox buttons */

/* hide default radio/checkbox buttons */

input[type=checkbox]:not(old), input[type=radio]:not(old) {
	width: 28px;
	margin: 0;
	padding: 0;
	opacity: 0;
}

/* Position radio and checkbox labels */

input[type=checkbox]:not(old)+label, input[type=radio]:not(old)+label {
	display: inline-block;
	margin-left: -28px;
	padding-left: 28px;
	background: url('../images/checks.svg') no-repeat 0 0;
	line-height: 24px;
	margin-bottom: 15px;
}

/* checked/unchecked backgrounds */

input[type=checkbox]:not(old):checked+label {
	background-position: 0 -24px;
}

input[type=radio]:not(old):checked+label {
	background-position: 0 -48px;
}

